<a href="https://colab.research.google.com/github/despygurl/sanbercode_python/blob/main/Tugas_Hari_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2>Soal 1: Membuat Objek DataFrames</h2>

- Buatlah objek dataframes dari objek dictionary, Bebas!

In [ ]:
# Membuat dataframes dari dictionary
import pandas as pd

piket = {
    'Hari':['Senin','Selasa','Rabu','Kamis','Jumat'],
    'Piket':['Andi','Ani','Rina','Parjo','Fani']
    }

piket_df = pd.DataFrame(piket)
piket_df.index += 1

print(piket_df)

     Hari  Piket
1   Senin   Andi
2  Selasa    Ani
3    Rabu   Rina
4   Kamis  Parjo
5   Jumat   Fani

<h2>Soal 2: Membaca data dari file</h2>

Download file bernama [diamonds.csv](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd), kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian print.

In [ ]:
# Membaca data dan memasukannya kedalam suatu variabel
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/file sanbercode/diamonds-1.csv')
print(df)

       Unnamed: 0  carat        cut color  ... price     x     y     z
0               1   0.23      Ideal     E  ...   326  3.95  3.98  2.43
1               2   0.21    Premium     E  ...   326  3.89  3.84  2.31
2               3   0.23       Good     E  ...   327  4.05  4.07  2.31
3               4   0.29    Premium     I  ...   334  4.20  4.23  2.63
4               5   0.31       Good     J  ...   335  4.34  4.35  2.75
...           ...    ...        ...   ...  ...   ...   ...   ...   ...
53935       53936   0.72      Ideal     D  ...  2757  5.75  5.76  3.50
53936       53937   0.72       Good     D  ...  2757  5.69  5.75  3.61
53937       53938   0.70  Very Good     D  ...  2757  5.66  5.68  3.56
53938       53939   0.86    Premium     H  ...  2757  6.15  6.12  3.74
53939       53940   0.75      Ideal     D  ...  2757  5.83  5.87  3.64

[53940 rows x 11 columns]

Expected Result:

![alt text](https://drive.google.com/uc?id=1BvgM5mJEVfj0fllrjkBfQwn0QIFkry_t)

<h2>Soal 3: DataFrame vs Series</h2>

- Apa perbedaan Series dengan list dan dictionary
- Apa perbedaan dataframe dan series
- Buatlah suatu data series

Jawab: 

Perbedaan series dan dictionary:
1. Series memiliki key duplikat
2. Series memiliki kemampuan untuk slicing data, tidak seperti dictionary

Perbedaan series dan list:
1. Pada saat mencetak series, data/value akan ditampilkan secara vertikal beserta indexnya
2. Series indexnya tidak harus bertipe integer

Perbedaan Series dan Dataframe:

1. Series tidak dapat mempunyai kolom ganda, berbeda halnya dengan dataframe.
2. Setiap kolom pada Data Frame merupakan objek dari Series, dan baris terdiri dari elemen yang ada pada Series.

In [ ]:
# Contoh data series
import pandas as pd
data = pd.Series(['apel','jeruk','mangga'])
print(data)

0      apel
1     jeruk
2    mangga
dtype: object

<h2>Soal 4: Pemeriksaan Data Sederhana</h2>

Di soal no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari:
- baris pertama dari column price
- baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [ ]:
# Membaca baris pertama dari column price
print(df['price'].head(1))
# Membaca baris terakhir dari column color
print(df['color'].tail(1))

0    326
Name: price, dtype: int64
53939    D
Name: color, dtype: object

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

<h2>Soal 5: Deskriptif Statistik</h2>

Jelaskan apa itu deskriptis statistik!

Jawab: 

Statistik deskriptif merupakan proses analisis statistik yang fokus kepada manajemen, penyajian, dan klasifikasi data. Dengan proses ini, data yang disajikan akan menjadi lebih menarik lebih mudah dipahami, dan mampu memberikan makna lebih bagi pengguna data.

<h2>Soal 6: Practice Deskriptif Statistik</h2>

- Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
- Berapa nilai rata-rata dari column price
- Berapa nilai standar deviasi dari column depth
- Berapa nilai maximum dari column carat

In [ ]:
# Mencari min, max & mean dari column depth
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/file sanbercode/diamonds-1.csv')
print(df.describe())
nilai_min = df['depth'].min()
nilai_max = df['depth'].max()
mean = round(df['depth'].mean(),2)

print(
    "\nMencari nilai minimal, maksimal dan rata-rata pada kolom depth\n"
    "Nilai minimal = {}\n".format(nilai_min)+
    "Nilai maksimal = {}\n".format(nilai_max)+
    "Nilai rata-rata = {}\n".format(mean)
    )

# Mencari nilai rata-rata dari column price
min_price = round(df['price'].mean(),2)
print(
    "Mencari nilai rata-rata dari column price\n"
    "Nilai rata-rata price = {}\n".format(min_price)
)

# Mencari nilai standar deviasi dari kolom depth
std_depth = round(df['depth'].std(),2)
print(
    "Mencari nilai standar deviasi dari kolom depth\n"
    "Nilai std depth = {}\n".format(std_depth)
)

# Mencari nilai maksimum dari column carat
maks_car = df['carat'].max()
print(
    "Mencari nilai maksimum dari column carat\n"
    "Nilai maks carat = {}".format(maks_car)
)

         Unnamed: 0         carat  ...             y             z
count  53940.000000  53940.000000  ...  53940.000000  53940.000000
mean   26970.500000      0.797940  ...      5.734526      3.538734
std    15571.281097      0.474011  ...      1.142135      0.705699
min        1.000000      0.200000  ...      0.000000      0.000000
25%    13485.750000      0.400000  ...      4.720000      2.910000
50%    26970.500000      0.700000  ...      5.710000      3.530000
75%    40455.250000      1.040000  ...      6.540000      4.040000
max    53940.000000      5.010000  ...     58.900000     31.800000

[8 rows x 8 columns]

Mencari nilai minimal, maksimal dan rata-rata pada kolom depth
Nilai minimal = 43.0
Nilai maksimal = 79.0
Nilai rata-rata = 61.75

Mencari nilai rata-rata dari column price
Nilai rata-rata price = 3932.8

Mencari nilai standar deviasi dari kolom depth
Nilai std depth = 1.43

Mencari nilai maksimum dari column carat
Nilai maks carat = 5.01

Jawab: