<a href="https://colab.research.google.com/github/despygurl/sanbercode_python/blob/main/Tugas_Hari_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Persiapan membuat data
import pandas as pd
import random
 
pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']
 
hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis_kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}
 
df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id   pelajaran  nilai jenis_kelamin kelas
0         1  Matematika      3     perempuan   12B
1         2      Fisika     52     laki-laki   12B
2         3     Biologi     59     laki-laki   12B
3         4      Fisika     41     perempuan   12C
4         5     Biologi     10     perempuan   12D

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [ ]:
# indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
print("Indexing terhadap dataframe untuk mengakses column nilai dan kelas saja")
print(df.iloc[:,[2,4]])

# indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai
print("\nIndexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai")
print(df.iloc[5:(10+1),[1,3]])

Indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
    nilai kelas
0       3   12B
1      52   12B
2      59   12B
3      41   12C
4      10   12D
5      15   12B
6      24   12A
7       4   12D
8      25   12D
9      16   12A
10     89   12C
11     84   12B
12     94   12C
13     60   12D
14      5   12C
15     94   12A
16     45   12C
17     20   12B
18     39   12D
19     46   12D

Indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai
   pelajaran jenis_kelamin
5    Geologi     perempuan
6    Ekonomi     laki-laki
7     Fisika     perempuan
8      Kimia     laki-laki
9     Fisika     perempuan
10   Biologi     laki-laki

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [ ]:
# Semua data siswa pada mata pelajaran Ekonomi dan Fisika
print("Semua data siswa pada mata pelajaran Ekonomi dan Fisika")
newdf = df.loc[(df.pelajaran == 'Ekonomi') | (df.pelajaran =='Fisika')]
print(newdf)

# Semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia
print("\nSemua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia")
df_nilai = df.loc[(df.nilai > 50) & (df.pelajaran == 'Kimia')]
print(df_nilai)

# Semua data yang mempunyai nilai lebih dari 70, berjenis kelamin perempuan dan di kelas 12C
print("\nSemua data yang mempunyai nilai lebih dari 70, berjenis kelamin perempuan dan di kelas 12C")
df_prp = df.loc[(df.nilai > 70) & (df.jenis_kelamin == 'perempuan') & (df.kelas == '12C')]
print(df_prp)

Semua data siswa pada mata pelajaran Ekonomi dan Fisika
    siswa_id pelajaran  nilai jenis_kelamin kelas
1          2    Fisika     52     laki-laki   12B
3          4    Fisika     41     perempuan   12C
6          7   Ekonomi     24     laki-laki   12A
7          8    Fisika      4     perempuan   12D
9         10    Fisika     16     perempuan   12A
19        20    Fisika     46     perempuan   12D

Semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia
    siswa_id pelajaran  nilai jenis_kelamin kelas
15        16     Kimia     94     perempuan   12A

Semua data yang mempunyai nilai lebih dari 70, berjenis kelamin perempuan dan di kelas 12C
    siswa_id pelajaran  nilai jenis_kelamin kelas
12        13   Biologi     94     perempuan   12C

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [ ]:
# code here
nilai_min = df.nilai.min()
nilai_max = df.nilai.max()
max_min = nilai_max - nilai_min

def normalisasi(nil):
    nilai_min = df.nilai.min()
    nilai_max = df.nilai.max()
    max_min = nilai_max - nilai_min
    return round((nil - nilai_min)/max_min,2)

print(df[['nilai']].apply(normalisasi))

    nilai
0    0.00
1    0.54
2    0.62
3    0.42
4    0.08
5    0.13
6    0.23
7    0.01
8    0.24
9    0.14
10   0.95
11   0.89
12   1.00
13   0.63
14   0.02
15   1.00
16   0.46
17   0.19
18   0.40
19   0.47